openapi: 3.0.1
info:
  title: Stats API Documentation Analytics Biomechanics API
  description: Official API for Major League Baseball.
  version: 2.0.0
servers:
- url: https://statsapi.mlb.com
  description: Production
- url: https://beta-statsapi.mlb.com
  description: Beta
- url: https://qa-statsapi.mlb.com
  description: QA
- url: http://localhost:8080
  description: Local
tags:
- name: Biomechanics
  description: 'Operations pertaining to biomechanical data '
paths:
  /api/v1/game/{gamePk}/{playId}/analytics/biomechanics/{positionId}:
    get:
      tags:
      - Biomechanics
      summary: View Biomechanical data by playId and gameId filtered by player positionId
      description: This endpoint allows you to pull biomechanical tracking data by gameId and playId filtered by player positionId
      operationId: biomechanical
      parameters:
      - name: gamePk
        in: path
        description: Unique Primary Key Representing a Game
        required: true
        schema:
          type: integer
          format: int32
      - name: playId
        in: path
        description: Unique play identifier
        required: true
        schema:
          type: string
      - name: positionId
        in: path
        description: 'Position number. Format: 1, 2, 3, etc'
        required: true
        schema:
          type: integer
          format: int32
      - name: fields
        in: query
        description: 'Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute'
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkeletalDataWrapperRestObject'
components:
  schemas:
    PositionRestObject:
      type: object
      properties:
        copyright:
          type: string
        code:
          type: string
        name:
          type: string
        type:
          type: string
        abbreviation:
          type: string
    SkeletalDataWrapperRestObject:
      type: object
      properties:
        copyright:
          type: string
        skeletalData:
          $ref: '#/components/schemas/SkeletalDataRestObject'
    FrameRestObject:
      type: object
      properties:
        copyright:
          type: string
        positions:
          type: array
          items:
            $ref: '#/components/schemas/PositionRestObject'
        timeStamp:
          type: string
    SkeletalDataRestObject:
      type: object
      properties:
        copyright:
          type: string
        frames:
          type: array
          items:
            $ref: '#/components/schemas/FrameRestObject'
        jointMetaData:
          type: object
          additionalProperties:
            type: string
