openapi: 3.0.1
info:
  title: Stats API Documentation Analytics Transactions API
  description: Official API for Major League Baseball.
  version: 2.0.0
servers:
- url: https://statsapi.mlb.com
  description: Production
- url: https://beta-statsapi.mlb.com
  description: Beta
- url: https://qa-statsapi.mlb.com
  description: QA
- url: http://localhost:8080
  description: Local
tags:
- name: Transactions
  description: Operations pertaining to transactions
paths:
  /api/v1/transactions:
    get:
      tags:
      - Transactions
      summary: View transaction info
      description: This endpoint allows you to pull transactions.
      operationId: transactions
      parameters:
      - name: leagueId
        in: query
        description: Comma delimited list of Unique league identifiers
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
      - name: sportId
        in: query
        description: Comma delimited list of top level organizations of a sport
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
        x-lookup:
          name: Sports
      - name: teamId
        in: query
        description: Comma delimited list of Unique Team identifiers
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
      - name: playerId
        in: query
        description: A unique identifier for a player
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
      - name: date
        in: query
        description: 'Date of Game. Format: YYYY-MM-DD'
        required: false
        schema:
          type: string
          format: date
      - name: startDate
        in: query
        description: 'Start date for range of data (must be used with end date). Format: MM/DD/YYYY'
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        description: 'End date for range of data (must be used with start date). Format: MM/DD/YYYY'
        required: false
        schema:
          type: string
          format: date
      - name: transactionIds
        in: query
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
      - name: transactionTypes
        in: query
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: divisionIds
        in: query
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int32
      - name: order
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/SortOrderEnum'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: fields
        in: query
        description: 'Comma delimited list of specific fields to be returned. Format: topLevelNode, childNode, attribute'
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TransactionsRestObject'
components:
  schemas:
    TeamStatData:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        note:
          type: string
        summary:
          type: object
          additionalProperties:
            type: string
          writeOnly: true
        catchersInterference:
          type: integer
          format: int32
        average:
          type: string
        onBasePercentage:
          type: string
        onBasePlusSlugging:
          type: string
        stolenBases:
          type: integer
          format: int32
        caughtStealing:
          type: integer
          format: int32
        slugging:
          type: string
        outs:
          type: integer
          format: int32
        gidp:
          type: integer
          format: int32
        gitp:
          type: integer
          format: int32
        homeRuns:
          type: integer
          format: int32
        numberOfPitches:
          type: integer
          format: int32
        totalBases:
          type: integer
          format: int32
        gidpOpportunites:
          type: integer
          format: int32
        walks:
          type: integer
          format: int32
        hitByPitch:
          type: integer
          format: int32
        strikeouts:
          type: integer
          format: int32
        airOuts:
          type: integer
          format: int32
        goAo:
          type: string
        pitchesPerPlateAppearance:
          type: number
          format: double
        intentionalWalks:
          type: integer
          format: int32
        groundOuts:
          type: integer
          format: int32
        flyOuts:
          type: integer
          format: int32
        games:
          type: integer
          format: int32
        gamesStarted:
          type: integer
          format: int32
        doubles:
          type: integer
          format: int32
        hits:
          type: integer
          format: int32
        triples:
          type: integer
          format: int32
        singles:
          type: integer
          format: int32
        runs:
          type: integer
          format: int32
        atBats:
          type: integer
          format: int32
        pickoffs:
          type: integer
          format: int32
        stolenBasePercentage:
          type: string
        wildPitches:
          type: integer
          format: int32
        sacFlies:
          type: integer
          format: int32
        sacBunts:
          type: integer
          format: int32
        putouts:
          type: integer
          format: int32
        assists:
          type: integer
          format: int32
        chances:
          type: integer
          format: int32
        streak:
          type: integer
          format: int32
        battingOrder:
          type: string
        totalSwings:
          type: integer
          format: int32
        swingsAndMisses:
          type: integer
          format: int32
        ballsInPlay:
          type: integer
          format: int32
        popOuts:
          type: integer
          format: int32
        lineOuts:
          type: integer
          format: int32
        flyHits:
          type: integer
          format: int32
        popHits:
          type: integer
          format: int32
        lineHits:
          type: integer
          format: int32
        groundHits:
          type: integer
          format: int32
        winStreak:
          type: integer
          format: int32
        lossStreak:
          type: integer
          format: int32
        plateAppearances:
          type: integer
          format: int32
        stolenBasePercentageOrNull:
          type: string
        pitchesPerPlateAppearanceStr:
          type: string
    AdditionalBio:
      type: object
      properties:
        id:
          type: integer
          format: int32
        homeTown:
          type: string
    SortOrderEnum:
      type: string
      enum:
      - ASC
      - DESC
    GameStatusRestObject:
      type: object
      properties:
        copyright:
          type: string
        isCurrentBatter:
          type: boolean
        isCurrentPitcher:
          type: boolean
        isOnBench:
          type: boolean
        isSubstitute:
          type: boolean
    DraftTypeEnum:
      type: string
      enum:
      - JR
      - JS
      - NS
      - NR
      - RV
      - AL
      - RA
      - RT
      - JD
      - AD
    WeatherRestObject:
      type: object
      properties:
        copyright:
          type: string
        condition:
          type: string
        temp:
          type: string
        wind:
          type: string
    DraftTypeEnumRestObject:
      type: object
      properties:
        copyright:
          type: string
        code:
          type: string
        description:
          type: string
    BaseballDefenseRestObject:
      type: object
      properties:
        copyright:
          type: string
        pitcher:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        catcher:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        first:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        second:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        third:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        shortstop:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        left:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        center:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        right:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        batter:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        onDeck:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        inHole:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        battingOrder:
          type: integer
          format: int32
        team:
          $ref: '#/components/schemas/BaseballTeamRestObject'
    EducationRestObject:
      type: object
      properties:
        copyright:
          type: string
        highschools:
          type: array
          items:
            $ref: '#/components/schemas/SchoolRestObject'
        colleges:
          type: array
          items:
            $ref: '#/components/schemas/SchoolRestObject'
    StatContainer:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/StatType'
        group:
          $ref: '#/components/schemas/StatGroup'
        splits:
          type: array
          items:
            $ref: '#/components/schemas/StatSplits'
        splitsTiedWithOffset:
          type: array
          items:
            $ref: '#/components/schemas/StatSplits'
        splitsTiedWithLimit:
          type: array
          items:
            $ref: '#/components/schemas/StatSplits'
        stats:
          $ref: '#/components/schemas/StatData'
        totalSplits:
          type: integer
          format: int32
        player:
          $ref: '#/components/schemas/BaseballPerson'
        team:
          $ref: '#/components/schemas/BaseballTeam'
        sport:
          $ref: '#/components/schemas/Sport'
        season:
          type: string
        gameType:
          $ref: '#/components/schemas/GameTypeEnum'
        playerPool:
          $ref: '#/components/schemas/PlayerPoolEnum'
        exemptions:
          type: array
          items:
            $ref: '#/components/schemas/PlayerListPerson'
        parameters:
          type: object
          additionalProperties:
            type: object
        disclaimers:
          uniqueItems: true
          type: array
          items:
            type: string
        totalSplitsIfNotSet:
          type: integer
          format: int32
          writeOnly: true
    FieldInfoRestObject:
      type: object
      properties:
        copyright:
          type: string
        capacity:
          type: integer
          format: int32
        turfType:
          type: string
        roofType:
          type: string
        leftLine:
          type: integer
          format: int32
        left:
          type: integer
          format: int32
        leftCenter:
          type: integer
          format: int32
        center:
          type: integer
          format: int32
        rightCenter:
          type: integer
          format: int32
        right:
          type: integer
          format: int32
        rightLine:
          type: integer
          format: int32
    BaseballTeamStandingsRecord:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/BaseballTeam'
        wins:
          type: integer
          format: int32
        losses:
          type: integer
          format: int32
        ties:
          type: integer
          format: int32
        gamesBack:
          type: string
        wildCardGamesBack:
          type: string
        leagueGamesBack:
          type: string
        springLeagueGamesBack:
          type: string
        sportGamesBack:
          type: string
        divisionGamesBack:
          type: string
        conferenceGamesBack:
          type: string
        divisionChamp:
          type: boolean
        season:
          type: string
        streak:
          type: string
        lastUpdated:
          type: string
          format: date-time
        home:
          type: string
        away:
          type: string
        lastTen:
          type: string
        points:
          type: integer
          format: int32
        clinchIndicator:
          type: string
        divisionRank:
          type: string
        conferenceRank:
          type: string
        springLeagueRank:
          type: string
        leagueRank:
          type: string
        sportRank:
          type: string
        wildCardRank:
          type: string
        gamesPlayed:
          type: integer
          format: int32
        place:
          type: integer
          format: int32
        wildcardPlace:
          type: integer
          format: int32
        wildcardOdds:
          type: number
          format: double
        divisionOdds:
          type: number
          format: double
        playoffOdds:
          type: number
          format: double
        runsAllowed:
          type: integer
          format: int32
        runsScored:
          type: integer
          format: int32
        hasWildcard:
          type: boolean
        clinched:
          type: boolean
        eliminationNumber:
          type: string
        eliminationNumberWildcard:
          type: string
        magicNumber:
          type: string
        hasPlayoffPoints:
          type: boolean
        vsWest:
          type: string
        vsCentral:
          type: string
        vsEast:
          type: string
        vsInterleague:
          type: string
        vsRight:
          type: string
        vsRightHomeWin:
          type: string
        vsRightHomeLoss:
          type: string
        vsRightAwayWin:
          type: string
        vsRightAwayLoss:
          type: string
        vsLeft:
          type: string
        vsLeftHomeWin:
          type: string
        vsLeftHomeLoss:
          type: string
        vsLeftAwayWin:
          type: string
        vsLeftAwayLoss:
          type: string
        vsWinners:
          type: string
        extraInnings:
          type: string
        expectedWinLoss:
          type: string
        expectedWinLossSeason:
          type: string
        oneRunGames:
          type: string
        turf:
          type: string
        grass:
          type: string
        night:
          type: string
        day:
          type: string
        isWildCardTeam:
          type: boolean
          writeOnly: true
        isDivisionLeader:
          type: boolean
          writeOnly: true
        divisionRecords:
          type: array
          items:
            $ref: '#/components/schemas/WinLossRecord'
        conferenceRecords:
          type: array
          items:
            $ref: '#/components/schemas/WinLossRecord'
        leagueRecords:
          type: array
          items:
            $ref: '#/components/schemas/WinLossRecord'
        splitRecords:
          type: array
          items:
            $ref: '#/components/schemas/WinLossRecord'
        expectedRecords:
          type: array
          items:
            $ref: '#/components/schemas/WinLossRecord'
        overallRecords:
          type: array
          items:
            $ref: '#/components/schemas/WinLossRecord'
        conference:
          $ref: '#/components/schemas/Conference'
        wildCardLeader:
          type: boolean
        runDifferental:
          type: integer
          format: int32
        winningPercentage:
          type: number
          format: double
    RunnerDetailType:
      type: string
      enum:
      - START_BASE
      - SEQUENCE
      - RUNNER_GOING
      - END_BASE
      - RUNNER_OUT
      - FORCED_OUT
      - ADVANCED_ON_FORCE
      - ADVANCED_ON_THROW
      - ADVANCED_ON_PLAY
      - DOUBLED_OFF
      - THROWN_OUT
      - TAGGED_OUT
      - OUT_STRETCHING
      - LEFT_EARLY
      - FIELDERS_CHOICE
      - OUT_ON_APPEAL
      - OUT_ADVANCING
      - DEFENSIVE_INDIFFERENCE
      - INTERFERENCE
      - HIT_BY_BATTED_BALL
      - OUT_OVER_RUNNING
      - OUT_RETURNING
      - RUNDOWN
      - CAUGHT_STEALING_2B
      - CAUGHT_STEALING_3B
      - CAUGHT_STEALING_HOME
      - PICKOFF_CAUGHT_STEALING_2B
      - PICKOFF_CAUGHT_STEALING_3B
      - PICKOFF_CAUGHT_STEALING_HOME
      - STOLEN_BASE_2B
      - STOLEN_BASE_3B
      - STOLEN_BASE_HOME
      - PICKOFF_1B
      - PICKOFF_2B
      - PICKOFF_3B
      - PICKOFF_ERROR_1B
      - PICKOFF_ERROR_2B
      - PICKOFF_ERROR_3B
      - UNKNOWN
    VenueMetadata:
      type: object
      properties:
        active:
          type: boolean
        capacity:
          type: integer
          format: int32
        startYear:
          type: integer
          format: int32
        endYear:
          type: integer
          format: int32
        types:
          type: array
          items:
            $ref: '#/components/schemas/VenueTypeEnum'
    Image:
      type: object
      properties:
        images:
          type: object
          additionalProperties:
            type: string
        caption:
          type: string
        imageType:
          $ref: '#/components/schemas/ImageTypeEnum'
        url:
          type: string
        imageTypeAsString:
          type: string
    SportTypeEnum:
      type: string
      enum:
      - ALL
      - BASEBALL
      - HOCKEY
      - GOLF
      - UNKNOWN
      - BASKETBALL
    IFeed:
      type: object
      properties:
        date:
          type: string
          format: date-time
    ScheduleDateRestObject:
      type: object
      properties:
        copyright:
          type: string
        date:
          type: string
          format: date
        totalItems:
          type: integer
          format: int32
        totalEvents:
          type: integer
          format: int32
        totalGames:
          type: integer
          format: int32
        totalGamesInProgress:
          type: integer
          format: int32
        games:
          type: array
          items:
            $ref: '#/components/schemas/BaseballScheduleItemRestObject'
        events:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleEventRestObject'
    Venue:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        id:
          type: integer
          format: int32
        name:
          type: string
        city:
          type: string
        location:
          $ref: '#/components/schemas/Location'
        timeZone:
          $ref: '#/components/schemas/TimeZone'
        fieldInfo:
          $ref: '#/components/schemas/FieldInfo'
        sportType:
          $ref: '#/components/schemas/SportTypeEnum'
        relatedVenues:
          type: array
          items:
            $ref: '#/components/schemas/Venue'
        parentVenues:
          type: array
          items:
            $ref: '#/components/schemas/Venue'
        residentVenues:
          type: array
          items:
            $ref: '#/components/schemas/Venue'
        relatedApplications:
          type: array
          items:
            $ref: '#/components/schemas/RelatedApplication'
        relatedImages:
          type: array
          items:
            $ref: '#/components/schemas/Image'
        socialMediaInfo:
          $ref: '#/components/schemas/SocialMediaInfo'
        menu:
          $ref: '#/components/schemas/VenueCms'
        metadata:
          $ref: '#/components/schemas/VenueMetadata'
        schedule:
          $ref: '#/components/schemas/BaseballSchedule'
        nextSchedule:
          $ref: '#/components/schemas/BaseballSchedule'
        previousSchedule:
          $ref: '#/components/schemas/BaseballSchedule'
        xrefIds:
          type: array
          items:
            $ref: '#/components/schemas/XrefId'
        season:
          type: string
        trackingVersion:
          $ref: '#/components/schemas/TrackingVersion'
        coachingVideo:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/MediaSourceType'
        appEnabled:
          type: boolean
        active:
          type: boolean
        timeZoneId:
          type: string
          writeOnly: true
    GameInfoRestObject:
      type: object
      properties:
        copyright:
          type: string
        attendance:
          type: integer
          format: int32
        firstPitch:
          type: string
          format: date-time
        gameDurationMinutes:
          type: integer
          format: int32
        delayDurationMinutes:
          type: integer
          format: int32
    LaunchDataRestObject:
      type: object
      properties:
        copyright:
          type: string
        speed:
          type: number
          format: double
        angle:
          type: number
          format: double
        spinAxis:
          type: number
          format: double
        direction:
          type: number
          format: double
        spinRate:
          type: number
          format: double
    BaseballDecisionRestObject:
      type: object
      properties:
        copyright:
          type: string
        hydrations:
          type: array
          items:
            type: string
        winner:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        loser:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        save:
          $ref: '#/components/schemas/BaseballPersonRestObject'
    LiveLookin:
      type: object
      properties:
        gamePk:
          type: integer
          format: int32
        mediaPlaybackId:
          type: integer
          format: int64
        kicker:
          type: string
        headline:
          type: string
        playbacks:
          type: array
          items:
            $ref: '#/components/schemas/LiveLookinPlayback'
    TransactionRestObject:
      type: object
      properties:
        copyright:
          type: string
        id:
          type: integer
          format: int32
        person:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        fromTeam:
          $ref: '#/components/schemas/BaseballTeamRestObject'
        toTeam:
          $ref: '#/components/schemas/BaseballTeamRestObject'
        date:
          type: string
          format: date
        effectiveDate:
          type: string
          format: date
        resolutionDate:
          type: string
          format: date
        type:
          type: string
        typeCode:
          type: string
        typeDesc:
          type: string
        isConditional:
          type: boolean
        description:
          type: string
    DraftStatusEnum:
      type: string
      enum:
      - DRAFTED
      - NOT_DRAFTED
      - SKIPPED
      - SELECTED
      - NOT_SELECTED
    Split:
      type: object
      properties:
        copyright:
          type: string
        batter:
          type: string
        pitcher:
          type: string
        menOnBase:
          type: string
    Matchup:
      type: object
      properties:
        copyright:
          type: string
        batter:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        batSide:
          $ref: '#/components/schemas/DynamicEnumRestObject'
        pitcher:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        pitchHand:
          $ref: '#/components/schemas/DynamicEnumRestObject'
        postOnFirst:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        postOnSecond:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        postOnThird:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        batterHotColdZoneStats:
          $ref: '#/components/schemas/StatsRestObject'
        pitcherHotColdZoneStats:
          $ref: '#/components/schemas/StatsRestObject'
        batterHotColdZones:
          type: array
          items:
            $ref: '#/components/schemas/BaseballHotColdZoneRestObject'
        pitcherHotColdZones:
          type: array
          items:
            $ref: '#/components/schemas/BaseballHotColdZoneRestObject'
        splits:
          $ref: '#/components/schemas/Split'
    StatSplits:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        season:
          type: string
        stat:
          $ref: '#/components/schemas/StatData'
        stats:
          $ref: '#/components/schemas/GroupedStatData'
        gameType:
          $ref: '#/components/schemas/GameTypeEnum'
        team:
          $ref: '#/components/schemas/BaseballTeam'
        player:
          $ref: '#/components/schemas/BaseballPerson'
        homeTeam:
          $ref: '#/components/schemas/BaseballTeam'
        awayTeam:
          $ref: '#/components/schemas/BaseballTeam'
        numTeams:
          type: integer
          format: int32
        numOccurrences:
          type: integer
          format: int32
        rank:
          type: integer
          format: int32
        league:
          $ref: '#/components/schemas/League'
        sport:
          $ref: '#/components/schemas/Sport'
        opponent:
          $ref: '#/components/schemas/BaseballTeam'
        venue:
          $ref: '#/components/schemas/Venue'
        game:
          $ref: '#/components/schemas/BaseballScheduleItem'
        date:
          type: string
          format: date
        lastDatePlayed:
          type: string
          format: date
        gameNumber:
          type: integer
          format: int32
        split:
          $ref: '#/components/schemas/DynamicLookupEnum'
        gamePk:
          type: integer
          format: int32
        dayOfTheWeek:
          type: integer
          format: int32
        month:
          type: integer
          format: int32
        opposingDivision:
          $ref: '#/components/schemas/Division'
        opposingConference:
          $ref: '#/components/schemas/Conference'
        isHome:
          type: boolean
        isWin:
          type: boolean
        type:
          $ref: '#/components/schemas/StatType'
        group:
          $ref: '#/components/schemas/StatGroup'
        position:
          $ref: '#/components/schemas/BaseballPosition'
        gameInnings:
          type: integer
          format: int32
        exemption:
          $ref: '#/components/schemas/PlayerListPerson'
    TrackingVersion:
      type: string
      enum:
      - PITCH_FX
      - STATCAST_2015_COMBINED
      - STATCAST_2015_RADAR_ONLY_20
      - STATCAST_2017_RADAR_ONLY_20
      - STATCAST_2017_COMBINED_RADAR_20
      - STATCAST_2018_COMBINED_RADAR_25
      - STATCAST_2018_RADAR_ONLY_25
      - STATCAST_2020_12_CAM
      - STATCAST_2020_8_CAM
      - TRACKMAN_V3
      - STATCAST_2023_12_CAM
    BaseballChallenge:
      type: object
      properties:
        hasChallenges:
          type: boolean
        awayChallengesUsed:
          type: integer
          format: int32
        awayChallengesRemaining:
          type: integer
          format: int32
        homeChallengesUsed:
          type: integer
          format: int32
        homeChallengesRemaining:
          type: integer
          format: int32
        challengingTeam:
          $ref: '#/components/schemas/BaseballTeam'
        reviewReason:
          type: string
        limit9thInning:
          type: integer
          format: int32
    PlayerPoolEnum:
      type: string
      enum:
      - ALL
      - QUALIFIED
      - ROOKIES
      - QUALIFIED_ROOKIES
      - ORGANIZATION
      - ORGANIZATION_NO_MLB
      - CURRENT
      - ALL_CURRENT
      - QUALIFIED_CURRENT
    ScheduleEventTypes:
      type: string
      enum:
      - ALL_STAR_WEEKEND_EVENT
      - TEAM_EVENT
      - EXHIBITION
      - POSTSEASON_GAMES
      - SPRING_TRAINING_GAMES
      - PITCHERS_AND_CATCHERS_REPORT
      - FULL_SQUAD_REPORTS
      - STH_EVENTS
      - BALLPARK_TOURS
      - IMPORTANT_DATES
      - OTHER
      - CULTURAL_EVENTS
      - TRACKING_DATA_EVENTS
      - FESTIVAL
      - KIDS_AND_FAMILY
      - MUSIC
      - PROMOTION_LOGO_BACKGROUND
      - PROMOTION_LOGO_SINGE_DATE
      - STUDIO_EVENT
    Broadcast:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        language:
          $ref: '#/components/schemas/Language'
        site:
          $ref: '#/components/schemas/Site'
        id:
          type: integer
          format: int32
        homeAway:
          type: string
        sortOrder:
          type: integer
          format: int32
        isNational:
          type: boolean
        sourceUrl:
          type: string
        callSign:
          type: string
        videoResolution:
          $ref: '#/components/schemas/VideoResolutionEnum'
    PlayerLeader:
      type: object
      properties:
        rank:
          type: integer
          format: int32
        value:
          type: string
        team:
          $ref: '#/components/schemas/BaseballTeam'
        league:
          $ref: '#/components/schemas/League'
        person:
          $ref: '#/components/schemas/BaseballPerson'
        sport:
          $ref: '#/components/schemas/Sport'
        season:
          type: string
        numTeams:
          type: integer
          format: int32
    Coordinates:
      type: object
      properties:
        x:
          type: number
          format: double
        y:
          type: number
          format: double
        z:
          type: number
          format: double
    StatExemptionRestObject:
      type: object
      properties:
        copyright:
          type: string
        exemptionId:
          type: string
        exemptionName:
          type: string
        player:
          $ref: '#/components/schemas/BaseballPersonRestObject'
    GroupedStatDataRestObject:
      type: object
      properties:
        copyright:
          type: string
        standard:
          $ref: '#/components/schemas/StatDataRestObject'
        advanced:
          $ref: '#/components/schemas/StatDataRestObject'
        expected:
          $ref: '#/components/schemas/StatDataRestObject'
        projected:
          $ref: '#/components/schemas/StatDataRestObject'
        tracking:
          $ref: '#/components/schemas/StatDataRestObject'
        pitching:
          $ref: '#/components/schemas/GroupedStatDataRestObject'
        hitting:
          $ref: '#/components/schemas/GroupedStatDataRestObject'
        fielding:
          $ref: '#/components/schemas/GroupedStatDataRestObject'
        running:
          $ref: '#/components/schemas/GroupedStatDataRestObject'
        catching:
          $ref: '#/components/schemas/GroupedStatDataRestObject'
        rankings:
          $ref: '#/components/schemas/GroupedStatDataRestObject'
        percentiles:
          $ref: '#/components/schemas/GroupedStatDataRestObject'
    GameStory:
      type: object
      properties:
        gamePk:
          type: integer
          format: int32
        numStories:
          type: integer
          format: int32
        link:
          type: string
        thumbnail:
          type: string
        thumbnailTemplate:
          type: string
        lastUpdatedTime:
          type: string
          format: date-time
        name:
          type: string
        status:
          type: string
        pages:
          type: integer
          format: int32
    PublicFacingEnum:
      type: string
      enum:
      - PUBLIC_FACING
      - NON_PUBLIC_FACING
      - ALL
    BaseballPerson:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        primaryPosition:
          $ref: '#/components/schemas/BaseballPosition'
        stats:
          $ref: '#/components/schemas/Stats'
        otherNames:
          $ref: '#/components/schemas/OtherNames'
        id:
          type: integer
          format: int32
        firstName:
          type: string
        useName:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        useLastName:
          type: string
        nickName:
          type: string
        nickNames:
          type: array
          items:
            type: string
        boxscoreName:
          type: string
        primaryNumber:
          type: string
        rosterNumber:
          type: string
        draftYear:
          type: integer
          format: int32
        age:
          type: integer
          format: int32
        birthCity:
          type: string
        birthStateProvince:
          type: string
        birthCountry:
          type: string
        birthDate:
          type: string
          format: date
        deathCity:
          type: string
        deathStateProvince:
          type: string
        deathCountry:
          type: string
        deathDate:
          type: string
          format: date
        lastPlayedDate:
          type: string
          format: date
        pronunciation:
          type: string
        fullName:
          type: string
        height:
          type: integer
          format: int32
        heightFeet:
          type: integer
          format: int32
        heightInches:
          type: integer
          format: int32
        weight:
          type: integer
          format: int32
        currentTeam:
          $ref: '#/components/schemas/BaseballTeam'
        isRookie:
          type: boolean
        isActive:
          type: boolean
        gender:
          type: string
        nameMatrilineal:
          type: string
        isPlayer:
          type: boolean
        isVerified:
          type: boolean
        isAlternateCaptain:
          type: boolean
        isCaptain:
          type: boolean
        twitter:
          type: string
        awards:
          type: array
          items:
            $ref: '#/components/schemas/Award'
        socialMediaInfo:
          $ref: '#/components/schemas/SocialMediaInfo'
        educationInfo:
          $ref: '#/components/schemas/EducationInfo'
        photos:
          type: array
          items:
            $ref: '#/components/schemas/Photo'
        draft:
          type: array
          items:
            $ref: '#/components/schemas/PlayerDraftInfo'
        additionalBio:
          $ref: '#/components/schemas/AdditionalBio'
        phoneticName:
          type: string
        nationality:
          type: string
        batSide:
          $ref: '#/components/schemas/DynamicLookupEnum'
        pitchHand:
          $ref: '#/components/schemas/DynamicLookupEnum'
        mlbDebutDate:
          type: string
          format: date
        batterPitcher:
          type: string
        note:
          type: string
        nameSlug:
          type: string
        nameTitle:
          type: string
        namePrefix:
          type: string
        nameFirstLast:
          type: string
        firstLastName:
          type: string
        lastFirstName:
          type: string
        lastInitName:
          type: string
        initLastName:
          type: string
        fullFMLName:
          type: string
        fullLFMName:
          type: string
        strikeZoneTop:
          type: number
          format: double
        strikeZoneBottom:
          type: number
          format: double
        alumniLastSeason:
          type: string
        languageId:
          type: integer
          format: int32
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        drafts:
          type: array
          items:
            $ref: '#/components/schemas/BaseballDraftProspect'
        relatives:
          type: array
          items:
            $ref: '#/components/schemas/Relative'
        articles:
          type: array
          items:
            $ref: '#/components/schemas/Article'
        videos:
          type: array
          items:
            $ref: '#/components/schemas/Video'
        mixedFeed:
          type: array
          items:
            $ref: '#/components/schemas/IFeed'
        xrefIds:
          type: array
          items:
            $ref: '#/components/schemas/XrefId'
        pitcher:
          type: boolean
        fielder:
          type: boolean
        hydratedSocial:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedEducation:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedStats:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedCurrentTeam:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedTeam:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedAwards:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedRelatives:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        draftProspects:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedPlayerPhotos:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedArticles:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedVideos:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedMixedFeed:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedPersonRosterEntries:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedPersonJobsEntries:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
    PersonLeadersEnum:
      type: string
      enum:
      - ASSISTS
      - SHUTOUTS
      - HOME_RUNS
      - SACRIFICE_BUNTS
      - SACRIFICE_FLIES
      - RUNS
      - GROUNDOUT_TO_FLYOUT_RATIO
      - STOLEN_BASES
      - BATTING_AVERAGE
      - GROUNDOUTS
      - NUMBER_OF_PITCHES
      - ON_BASE_PERCENTAGE
      - CAUGHT_STEALING
      - GROUND_INTO_DOUBLE_PLAYS
      - TOTAL_BASES
      - EARNED_RUN_AVERAGE
      - FIELDING_PERCENTAGE
      - WALKS_HITS_PER_INNING_PITCHED
      - FLYOUTS
      - HIT_BY_PITCHES
      - GAMES_PLAYED
      - WALKS
      - SLUGGING_PERCENTAGE
      - ON_BASE_PLUS_SLUGGING
      - RUNS_BATTED_IN
      - TRIPLES
      - EXTRA_BASE_HITS
      - HITS
      - AT_BAT
      - STRIKEOUTS
      - DOUBLES
      - TOTAL_PLATE_APPEARANCES
      - INTENTIONAL_WALKS
      - BASEBALL_WINS
      - LOSSES
      - SAVES
      - WILD_PITCH
      - AIROUTS
      - BALK
      - BLOWN_SAVES
      - CATCHER_ERA
      - CATCHERS_INTERFERENCE
      - CHANCES
      - COMPLETE_GAME
      - DOUBLE_PLAYS
      - EARNED_RUN
      - ERRORS
      - GAMES_FINISHED
      - GAMES_STARTED
      - HIT_BATSMAN
      - HITS_PER_9_INN
      - HOLDS
      - INNINGS
      - INNINGS_PITCHED
      - OUTFIELD_ASSISTS
      - PASSED_BALLS
      - PICKOFFS
      - PITCHES_PER_INNING
      - PUT_OUTS
      - RANGE_FACTOR_PER_GAME
      - RANGE_FACTOR_PER_9_INN
      - SAVE_OPPORTUNITIES
      - STOLEN_BASE_PERCENTAGE
      - STRIKEOUTS_PER_9_INN
      - STRIKEOUT_WALK_RATIO
      - THROWING_ERRORS
      - TOTAL_BATTERS_FACED
      - TRIPLE_PLAYS
      - WALKS_PER_9_INN
      - WIN_PERCENTAGE
    IOfficialType:
      type: object
      properties:
        displayName:
          type: string
        shortName:
          type: string
    GameMediaRestObject:
      type: object
      properties:
        copyright:
          type: string
        epg:
          $ref: '#/components/schemas/JsonNode'
        epgAlternate:
          $ref: '#/components/schemas/JsonNode'
        milestones:
          $ref: '#/components/schemas/JsonNode'
        featuredMedia:
          $ref: '#/components/schemas/JsonNode'
        freeGame:
          type: boolean
        enhancedGame:
          type: boolean
    AwardRestObject:
      type: object
      properties:
        copyright:
          type: string
        hydrations:
          type: array
          items:
            type: string
        id:
          type: string
        name:
          type: string
        shortName:
          type: string
        description:
          type: string
        recipientType:
          type: string
        history:
          type: string
        imageUrl:
          type: string
        homePageUrl:
          type: string
        date:
          type: string
          format: date
        season:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/AwardResultRestObject'
        team:
          $ref: '#/components/schemas/BaseballTeamRestObject'
        sortOrder:
          type: integer
          format: int32
        player:
          $ref: '#/components/schemas/BaseballPersonRestObject'
        votes:
          type: integer
          format: int32
        votesAvailable:
          type: integer
          format: int32
        sport:
          $ref: '#/components/schemas/SportRestObject'
        league:
          $ref: '#/components/schemas/LeagueRestObject'
        notes:
          type: string
    BaseballLinescoreTeamInfoRestObject:
      type: object
      properties:
        copyright:
          type: string
        home:
          $ref: '#/components/schemas/TeamInfo'
        away:
          $ref: '#/components/schemas/TeamInfo'
    InningRestObject:
      type: object
      properties:
        copyright:
          type: string
        num:
          type: integer
          format: int32
        ordinalNum:
          type: string
        home:
          $ref: '#/components/schemas/InningTeamInfoRestObject'
        away:
          $ref: '#/components/schemas/InningTeamInfoRestObject'
    RosterType:
      type: string
      enum:
      - FORTY_MAN
      - FULL_SEASON
      - FULL_ROSTER
      - NON_ROSTER_INVITEES
      - ACTIVE
      - ALL_TIME
      - DEPTH_CHART
      - GAMEDAY
      - COACH
    PhotoRestObject:
      type: object
      properties:
        copyright:
          type: string
        photoType:
          type: string
        defaultRes:
          type: string
        doubleRes:
          type: string
        tripleRes:
          type: string
        lowRes:
          type: string
    ImageRestObject:
      type: object
      properties:
        copyright:
          type: string
        images:
          type: object
          additionalProperties:
            type: string
        caption:
          type: string
        url:
          type: string
    BaseballLineupRestObject:
      type: object
      properties:
        copyright:
          type: string
        homePlayers:
          type: array
          items:
            $ref: '#/components/schemas/BaseballPersonRestObject'
        awayPlayers:
          type: array
          items:
            $ref: '#/components/schemas/BaseballPersonRestObject'
    ConferenceRestObject:
      type: object
      properties:
        copyright:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        link:
          type: string
    StatData:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        note:
          type: string
        summary:
          type: object
          additionalProperties:
            type: string
          writeOnly: true
    Relative:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        primaryPosition:
          $ref: '#/components/schemas/BaseballPosition'
        stats:
          $ref: '#/components/schemas/Stats'
        otherNames:
          $ref: '#/components/schemas/OtherNames'
        id:
          type: integer
          format: int32
        firstName:
          type: string
        useName:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        useLastName:
          type: string
        nickName:
          type: string
        nickNames:
          type: array
          items:
            type: string
        boxscoreName:
          type: string
        primaryNumber:
          type: string
        rosterNumber:
          type: string
        draftYear:
          type: integer
          format: int32
        age:
          type: integer
          format: int32
        birthCity:
          type: string
        birthStateProvince:
          type: string
        birthCountry:
          type: string
        birthDate:
          type: string
          format: date
        deathCity:
          type: string
        deathStateProvince:
          type: string
        deathCountry:
          type: string
        deathDate:
          type: string
          format: date
        lastPlayedDate:
          type: string
          format: date
        pronunciation:
          type: string
        fullName:
          type: string
        height:
          type: integer
          format: int32
        heightFeet:
          type: integer
          format: int32
        heightInches:
          type: integer
          format: int32
        weight:
          type: integer
          format: int32
        currentTeam:
          $ref: '#/components/schemas/BaseballTeam'
        isRookie:
          type: boolean
        isActive:
          type: boolean
        gender:
          type: string
        nameMatrilineal:
          type: string
        isPlayer:
          type: boolean
        isVerified:
          type: boolean
        isAlternateCaptain:
          type: boolean
        isCaptain:
          type: boolean
        twitter:
          type: string
        awards:
          type: array
          items:
            $ref: '#/components/schemas/Award'
        socialMediaInfo:
          $ref: '#/components/schemas/SocialMediaInfo'
        educationInfo:
          $ref: '#/components/schemas/EducationInfo'
        photos:
          type: array
          items:
            $ref: '#/components/schemas/Photo'
        draft:
          type: array
          items:
            $ref: '#/components/schemas/PlayerDraftInfo'
        additionalBio:
          $ref: '#/components/schemas/AdditionalBio'
        phoneticName:
          type: string
        nationality:
          type: string
        batSide:
          $ref: '#/components/schemas/DynamicLookupEnum'
        pitchHand:
          $ref: '#/components/schemas/DynamicLookupEnum'
        mlbDebutDate:
          type: string
          format: date
        batterPitcher:
          type: string
        note:
          type: string
        nameSlug:
          type: string
        nameTitle:
          type: string
        namePrefix:
          type: string
        nameFirstLast:
          type: string
        firstLastName:
          type: string
        lastFirstName:
          type: string
        lastInitName:
          type: string
        initLastName:
          type: string
        fullFMLName:
          type: string
        fullLFMName:
          type: string
        strikeZoneTop:
          type: number
          format: double
        strikeZoneBottom:
          type: number
          format: double
        alumniLastSeason:
          type: string
        languageId:
          type: integer
          format: int32
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        drafts:
          type: array
          items:
            $ref: '#/components/schemas/BaseballDraftProspect'
        articles:
          type: array
          items:
            $ref: '#/components/schemas/Article'
        videos:
          type: array
          items:
            $ref: '#/components/schemas/Video'
        mixedFeed:
          type: array
          items:
            $ref: '#/components/schemas/IFeed'
        xrefIds:
          type: array
          items:
            $ref: '#/components/schemas/XrefId'
        hasStats:
          type: boolean
        relation:
          type: string
        pitcher:
          type: boolean
        fielder:
          type: boolean
        hydratedSocial:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedEducation:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedStats:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedCurrentTeam:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedTeam:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedAwards:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedRelatives:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        draftProspects:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedPlayerPhotos:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedArticles:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedVideos:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedMixedFeed:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedPersonRosterEntries:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedPersonJobsEntries:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
    ReviewDetails:
      type: object
      properties:
        copyright:
          type: string
        isOverturned:
          type: boolean
        inProgress:
          type: boolean
        reviewType:
          type: string
        challengeTeamId:
          type: integer
          format: int32
        additionalReviews:
          type: array
          items:
            $ref: '#/components/schemas/ReviewDetails'
    SeasonRestObject:
      type: object
      properties:
        copyright:
          type: string
        seasonId:
          type: string
        hasWildcard:
          type: boolean
        preSeasonStartDate:
          type: string
          format: date
        preSeasonEndDate:
          type: string
          format: date
        seasonStartDate:
          type: string
          format: date
        springStartDate:
          type: string
          format: date
        springEndDate:
          type: string
          format: date
        regularSeasonStartDate:
          type: string
          format: date
        lastDate1stHalf:
          type: string
          format: date
        allStarDate:
          type: string
          format: date
        firstDate2ndHalf:
          type: string
          format: date
        regularSeasonEndDate:
          type: string
          format: date
        postSeasonStartDate:
          type: string
          format: date
        postSeasonEndDate:
          type: string
          format: date
        seasonEndDate:
          type: string
          format: date
        offseasonStartDate:
          type: string
          format: date
        offSeasonEndDate:
          type: string
          format: date
        numberOfGames:
          type: integer
          format: int32
        tiesInUse:
          type: boolean
        olympicsParticipation:
          type: boolean
        conferencesInUse:
          type: boolean
        divisionsInUse:
          type: boolean
        gameTypeDates:
          type: array
          items:
            $ref: '#/components/schemas/GameTypeDatesRestObject'
        seasonLevelGamedayType:
          type: string
        gameLevelGamedayType:
          type: string
        qualifierPlateAppearances:
          type: number
          format: double
        qualifierOutsPitched:
          type: number
          format: double
    SocialMediaRestObject:
      type: object
      properties:
        copyright:
          type: string
        twitter:
          type: array
          items:
            type: string
        facebook:
          type: array
          items:
            type: string
        instagram:
          type: array
          items:
            type: string
        vine:
          type: array
          items:
            type: string
        periscope:
          type: array
          items:
            type: string
        tumblr:
          type: array
          items:
            type: string
        youtube:
          type: array
          items:
            type: string
        pinterest:
          type: array
          items:
            type: string
        googleplus:
          type: array
          items:
            type: string
        snapchat:
          type: array
          items:
            type: string
        website:
          type: array
          items:
            type: string
        hashtags:
          type: array
          items:
            type: string
    BaseballGameLiveLookinRestObject:
      type: object
      properties:
        copyright:
          type: string
        gamePk:
          type: integer
          format: int32
        mediaPlaybackId:
          type: integer
          format: int64
        headline:
          type: string
        kicker:
          type: string
        playbacks:
          type: array
          items:
            $ref: '#/components/schemas/LiveLookinPlayback'
    IFeedRestObject:
      type: object
    BaseballHit:
      type: object
      properties:
        launchData:
          $ref: '#/components/schemas/LaunchData'
        trajectoryData:
          $ref: '#/components/schemas/HitTrajectoryData'
        landingData:
          $ref: '#/components/schemas/StartEndData'
        lastMeasuredData:
          $ref: '#/components/schemas/StartEndData'
        reducedConfidence:
          type: array
          items:
            type: string
        team:
          $ref: '#/components/schemas/BaseballTeam'
        inning:
          type: integer
          format: int32
        pitcher:
          $ref: '#/components/schemas/BaseballPerson'
        batter:
          $ref: '#/components/schemas/BaseballPerson'
        coordX:
          type: number
          format: double
        coordY:
          type: number
          format: double
        landingPosX:
          type: number
          format: double
        landingPosY:
          type: number
          format: double
        type:
          type: string
        description:
          type: string
          writeOnly: true
        launchSpeed:
          type: number
          format: double
        totalDistance:
          type: number
          format: double
        launchAngle:
          type: number
          format: double
        trajectory:
          type: string
        hardness:
          type: string
        location:
          type: string
        isBarrel:
          type: boolean
        hitProbability:
          type: number
          format: double
        descriptions:
          type: object
          additionalProperties:
            type: string
          writeOnly: true
    SeriesStatusRestObject:
      type: object
      properties:
        copyright:
          type: string
        gameNumber:
          type: integer
          format: int32
        totalGames:
          type: integer
          format: int32
        isTied:
          type: boolean
        isOver:
          type: boolean
        wins:
          type: integer
          format: int32
        losses:
          type: integer
          format: int32
        winningTeam:
          $ref: '#/components/schemas/BaseballTeamRestObject'
        losingTeam:
          $ref: '#/components/schemas/BaseballTeamRestObject'
        description:
          type: string
        shortDescription:
          type: string
        result:
          type: string
        shortName:
          type: string
    BaseballGameAlertRestObject:
      type: object
      properties:
        copyright:
          type: string
        type:
          type: string
        category:
          type: string
        description:
          type: string
        shortDescription:
          type: string
        team:
          $ref: '#/components/schemas/BaseballTeamRestObject'
        alertId:
          type: string
    StartEndData:
      type: object
      properties:
        velocity:
          $ref: '#/components/schemas/Coordinates'
        position:
          $ref: '#/components/schemas/Coordinates'
        time:
          type: number
          format: double
        confidence:
          type: string
        speed:
          type: number
          format: double
        bearing:
          type: number
          format: double
        distance:
          type: number
          format: double
    DivisionRestObject:
      type: object
      properties:
        copyright:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        season:
          type: string
        nameShort:
          type: string
        link:
          type: string
        abbreviation:
          type: string
        conference:
          $ref: '#/components/schemas/ConferenceRestObject'
        league:
          $ref: '#/components/schemas/LeagueRestObject'
        sport:
          $ref: '#/components/schemas/SportRestObject'
        hasWildcard:
          type: boolean
        sortOrder:
          type: integer
          format: int32
        numPlayoffTeams:
          type: integer
          format: int32
        active:
          type: boolean
    PostseasonSeries:
      type: object
      properties:
        sortOrder:
          type: integer
          format: int32
        seriesId:
          type: string
        isDefault:
          type: boolean
        gameType:
          $ref: '#/components/schemas/GameTypeEnum'
        seriesConfigId:
          type: string
    Movement:
      type: object
      properties:
        originBase:
          type: string
        start:
          type: string
        end:
          type: string
        outBase:
          type: string
        isOut:
          type: boolean
        outNumber:
          type: integer
          format: int32
    BaseballReviewRestObject:
      type: object
      properties:
        copyright:
          type: string
        hasChallenges:
          type: boolean
        reason:
          type: string
        away:
          $ref: '#/components/schemas/BaseballTeamReview'
        home:
          $ref: '#/components/schemas/BaseballTeamReview'
        challengingTeam:
          $ref: '#/components/schemas/BaseballTeamRestObject'
    ScheduleEventTypeRestObject:
      type: object
      properties:
        copyright:
          type: string
        code:
          type: string
        name:
          type: string
    Highlights:
      type: object
      properties:
        scoreboard:
          $ref: '#/components/schemas/JsonNode'
        gameCenter:
          $ref: '#/components/schemas/JsonNode'
        milestone:
          $ref: '#/components/schemas/JsonNode'
        highlights:
          $ref: '#/components/schemas/JsonNode'
        liveHighlights:
          $ref: '#/components/schemas/JsonNode'
        scoreboardPreview:
          $ref: '#/components/schemas/JsonNode'
    BaseballTeam:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        id:
          type: integer
          format: int32
        name:
          type: string
        season:
          type: integer
          format: int32
        strSeason:
          type: string
        venue:
          $ref: '#/components/schemas/Venue'
        springVenue:
          $ref: '#/components/schemas/Venue'
        teamCode:
          type: string
        fileCode:
          type: string
        abbreviation:
          type: string
        firstYearOfPlay:
          type: string
        teamName:
          type: string
        locationName:
          type: string
        active:
          type: boolean
        placeholder:
          type: boolean
        roster:
          $ref: '#/components/schemas/BaseballRoster'
        nextGameSchedule:
          $ref: '#/components/schemas/BaseballSchedule'
        previousGameSchedule:
          $ref: '#/components/schemas/BaseballSchedule'
        nextSchedule:
          $ref: '#/components/schemas/BaseballSchedule'
        previousSchedule:
          $ref: '#/components/schemas/BaseballSchedule'
        content:
          $ref: '#/components/schemas/TeamContentCms'
        deviceProperties:
          $ref: '#/components/schemas/JsonNode'
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/BaseballTicket'
        playoffInfo:
          $ref: '#/components/schemas/TeamPlayoffs'
        homeAway:
          type: string
        record:
          $ref: '#/components/schemas/BaseballTeamStandingsRecord'
        teamStats:
          type: array
          items:
            $ref: '#/components/schemas/StatContainer'
        teamLeaders:
          type: array
          items:
            $ref: '#/components/schemas/Leaders'
        otherTeamNames:
          $ref: '#/components/schemas/OtherTeamNames'
        socialMediaInfo:
          $ref: '#/components/schemas/SocialMediaInfo'
        twitter:
          type: string
        leagueId:
          type: integer
          format: int32
        teamDesignation:
          $ref: '#/components/schemas/TeamDesignationEnum'
        parentOrgId:
          type: integer
          format: int32
        parentOrgName:
          type: string
        seedNumber:
          type: integer
          format: int32
        franchiseName:
          type: string
        clubName:
          type: string
        location:
          $ref: '#/components/schemas/Location'
        springLeague:
          $ref: '#/components/schemas/League'
        xrefIds:
          type: array
          items:
            $ref: '#/components/schemas/XrefId'
        allStarStatus:
          $ref: '#/components/schemas/AllStarEnum'
        teamSeq:
          type: integer
          format: int32
        cacheKey:
          type: string
        sport:
          $ref: '#/components/schemas/Sport'
        league:
          $ref: '#/components/schemas/League'
        shortName:
          type: string
        division:
          $ref: '#/components/schemas/Division'
        conference:
          $ref: '#/components/schemas/Conference'
        hydratedSocial:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedGamePromotions:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedGameTickets:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        franchise:
          $ref: '#/components/schemas/Franchise'
        hydratedDeviceProperties:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedGamePromotionsAtBat:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedGameSponsorships:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedGameTicketsAtBat:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
    BaseballPlayRestObject:
      type: object
      properties:
        copyright:
          type: string
        hydrations:
          type: array
          items:
            type: string
        result:
          $ref: '#/components/schemas/Result'
        about:
          $ref: '#/components/schemas/About'
        count:
          $ref: '#/components/schemas/Count'
        matchup:
          $ref: '#/components/schemas/Matchup'
        pitchIndex:
          type: array
          items:
            type: integer
            format: int32
        actionIndex:
          type: array
          items:
            type: integer
            format: int32
        runnerIndex:
          type: array
          items:
            type: integer
            format: int32
        runners:
          type: array
          items:
            $ref: '#/components/schemas/RunnerMovement'
        playEvents:
          type: array
          items:
            $ref: '#/components/schemas/BaseballPlayEventRestObject'
        credits:
          type: array
          items:
            $ref: '#/components/schemas/PlayCreditRestObject'
        flags:
          type: array
          items:
            $ref: '#/components/schemas/PlayCreditRestObject'
        reviewDetails:
          $ref: '#/components/schemas/ReviewDetails'
        playEndTime:
          type: string
          format: date-time
        atBatIndex:
          type: integer
          format: int32
    RosterRestObject:
      type: object
      properties:
        copyright:
          type: string
        hydrations:
          type: array
          items:
            type: string
        roster:
          type: array
          items:
            $ref: '#/components/schemas/BaseballRosterEntryRestObject'
        link:
          type: string
        teamId:
          type: integer
          format: int32
        rosterType:
          type: string
    RuleSettingsRestObject:
      type: object
      properties:
        playSettingId:
          type: integer
          format: int32
        settingId:
          type: integer
          format: int32
        settingName:
          type: string
        settingDisplayName:
          type: string
        settingCategory:
          type: string
        settingCategoryCode:
          type: string
        settingDescription:
          type: string
        settingOptions:
          type: array
          items:
            $ref: '#/components/schemas/RuleSettingsOptionRestObject'
        valueType:
          type: string
        settingValue:
          type: object
        settingScope:
          type: string
        priorityOverride:
          type: integer
          format: int32
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        inherited:
          type: boolean
        gameType:
          type: string
        allGameTypeStatus:
          type: boolean
        sortOrder:
          type: integer
          format: int32
    TeamStandingsRecordRestObject:
      type: object
      properties:
        copyright:
          type: string
        team:
          $ref: '#/components/schemas/BaseballTeamRestObject'
        division:
          $ref: '#/components/schemas/Division'
        conference:
          $ref: '#/components/schemas/Conference'
        league:
          $ref: '#/components/schemas/League'
        season:
          type: string
        streak:
          $ref: '#/components/schemas/StreakRestObject'
        clinchIndicator:
          type: string
        divisionRank:
          type: string
        conferenceRank:
          type: string
        leagueRank:
          type: string
        springLeagueRank:
          type: string
        wildCardRank:
          type: string
        sportRank:
          type: string
        gamesPlayed:
          type: integer
          format: int32
        gamesBack:
          type: string
        wildCardGamesBack:
          type: string
        leagueGamesBack:
          type: string
        springLeagueGamesBack:
          type: string
        sportGamesBack:
          type: string
        divisionGamesBack:
          type: string
        conferenceGamesBack:
          type: string
        leagueRecord:
          $ref: '#/components/schemas/WinLossRecordRestObject'
        lastUpdated:
          type: string
          format: date-time
        records:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/WinLossRecordRestObject'
        probabilites:
          $ref: '#/components/schemas/StandingsOdds'
    Leaders:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        leaderCategory:
          $ref: '#/components/schemas/PersonLeadersEnum'
        statGroup:
          $ref: '#/components/schemas/StatGroup'
        season:
          type: string
        gameType:
          $ref: '#/components/schemas/GameTypeEnum'
        statType:
          $ref: '#/components/schemas/StatType'
        team:
          $ref: '#/components/schemas/BaseballTeam'
        league:
          $ref: '#/components/schemas/League'
        totalSplits:
          type: integer
          format: int32
        leaders:
          type: array
          items:
            $ref: '#/components/schemas/PlayerLeader'
        limits:
          $ref: '#/components/schemas/LeaderLimits'
        limitMetaData:
          $ref: '#/components/schemas/LimitMetadata'
        hydratedTeams:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedPeople:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
    GameStatData:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        note:
          type: string
        summary:
          type: object
          additionalProperties:
            type: string
          writeOnly: true
        catchersInterference:
          type: integer
          format: int32
        average:
          type: string
        onBasePercentage:
          type: string
        onBasePlusSlugging:
          type: string
        stolenBases:
          type: integer
          format: int32
        caughtStealing:
          type: integer
          format: int32
        slugging:
          type: string
        outs:
          type: integer
          format: int32
        gidp:
          type: integer
          format: int32
        gitp:
          type: integer
          format: int32
        homeRuns:
          type: integer
          format: int32
        numberOfPitches:
          type: integer
          format: int32
        totalBases:
          type: integer
          format: int32
        gidpOpportunites:
          type: integer
          format: int32
        walks:
          type: integer
          format: int32
        hitByPitch:
          type: integer
          format: int32
        strikeouts:
          type: integer
          format: int32
        airOuts:
          type: integer
          format: int32
        goAo:
          type: string
        pitchesPerPlateAppearance:
          type: number
          format: double
        intentionalWalks:
          type: integer
          format: int32
        groundOuts:
          type: integer
          format: int32
        flyOuts:
          type: integer
          format: int32
        games:
          type: integer
          format: int32
        gamesStarted:
          type: integer
          format: int32
        doubles:
          type: integer
          format: int32
        hits:
          type: integer
          format: int32
        triples:
          type: integer
          format: int32
        singles:
          type: integer
          format: int32
        runs:
          type: integer
          format: int32
        atBats:
          type: integer
          format: int32
        pickoffs:
          type: integer
          format: int32
        stolenBasePercentage:
          type: string
        wildPitches:
          type: integer
          format: int32
        sacFlies:
          type: integer
          format: int32
        sacBunts:
          type: integer
          format: int32
        putouts:
          type: integer
          format: int32
        assists:
          type: integer
          format: int32
        chances:
          type: integer
          format: int32
        streak:
          type: integer
          format: int32
        battingOrder:
          type: string
        totalSwings:
          type: integer
          format: int32
        swingsAndMisses:
          type: integer
          format: int32
        ballsInPlay:
          type: integer
          format: int32
        popOuts:
          type: integer
          format: int32
        lineOuts:
          type: integer
          format: int32
        flyHits:
          type: integer
          format: int32
        popHits:
          type: integer
          format: int32
        lineHits:
          type: integer
          format: int32
        groundHits:
          type: integer
          format: int32
        attendance:
          type: integer
          format: int32
        gameInnings:
          type: integer
          format: int32
        gameDuration:
          $ref: '#/components/schemas/Duration'
        plateAppearances:
          type: integer
          format: int32
        stolenBasePercentageOrNull:
          type: string
        pitchesPerPlateAppearanceStr:
          type: string
    Lineup:
      type: object
      properties:
        homePlayers:
          $ref: '#/components/schemas/JsonNode'
        awayPlayers:
          $ref: '#/components/schemas/JsonNode'
    VideoResolutionEnum:
      type: string
      enum:
      - S
      - H
      - FOUR_K
    GameNotes:
      type: object
      properties:
        notes:
          $ref: '#/components/schemas/JsonNode'
    ApplicationRestObject:
      type: object
      properties:
        copyright:
          type: string
        androidPackage:
          type: string
        icon:
          type: string
        intent:
          type: string
        name:
          type: string
        androidUrl:
          type: string
        iosUrl:
          type: string
        iosPackage:
          type: string
        primary:
          type: boolean
    BaseballRoster:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        rosterType:
          $ref: '#/components/schemas/RosterType'
        roster:
          type: array
          items:
            $ref: '#/components/schemas/BaseballRosterEntry'
        teamId:
          type: integer
          format: int32
        hydratedPeople:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
    RuleSettings:
      type: object
      properties:
        playSettingId:
          type: integer
          format: int32
        settingId:
          type: integer
          format: int32
        settingName:
          type: string
        settingDisplayName:
          type: string
        settingCategoryId:
          type: integer
          format: int32
        settingCategory:
          type: string
        settingCategoryCode:
          type: string
        settingDescription:
          type: string
        settingIsPublic:
          type: boolean
        valueType:
          type: string
        settingValue:
          type: object
        settingScope:
          type: string
        settingOptions:
          type: array
          items:
            $ref: '#/components/schemas/RuleSettingsOption'
        priorityOverride:
          type: integer
          format: int32
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        inherited:
          type: boolean
        gameType:
          type: string
        allGameTypeStatus:
          type: boolean
        sport:
          $ref: '#/components/schemas/Sport'
        league:
          $ref: '#/components/schemas/League'
        venue:
          $ref: '#/components/schemas/Venue'
        gamePk:
          type: integer
          format: int32
        scheduleEvent:
          $ref: '#/components/schemas/ScheduleEvent'
        sortOrder:
          type: integer
          format: int32
        userHasPermission:
          type: boolean
    StreakRestObject:
      type: object
      properties:
        copyright:
          type: string
        streakType:
          type: string
        streakNumber:
          type: integer
          format: int32
        streakCode:
          type: string
    GroupedStatData:
      type: object
      properties:
        standard:
          $ref: '#/components/schemas/StatData'
        advanced:
          $ref: '#/components/schemas/StatData'
        expected:
          $ref: '#/components/schemas/StatData'
        projected:
          $ref: '#/components/schemas/StatData'
        tracking:
          $ref: '#/components/schemas/StatData'
        pitching:
          $ref: '#/components/schemas/GroupedStatData'
        hitting:
          $ref: '#/components/schemas/GroupedStatData'
        fielding:
          $ref: '#/components/schemas/GroupedStatData'
        running:
          $ref: '#/components/schemas/GroupedStatData'
        catching:
          $ref: '#/components/schemas/GroupedStatData'
        rankings:
          $ref: '#/components/schemas/GroupedStatData'
        percentiles:
          $ref: '#/components/schemas/GroupedStatData'
    BaseballTeamRestObject:
      type: object
      properties:
        copyright:
          type: string
        hydrations:
          type: array
          items:
            type: string
        springLeague:
          $ref: '#/components/schemas/LeagueRestObject'
        xrefIds:
          type: array
          items:
            $ref: '#/components/schemas/XrefIdRestObject'
        allStarStatus:
          $ref: '#/components/schemas/AllStarEnum'
        id:
          type: integer
          format: int32
        name:
          type: string
        link:
          type: string
        season:
          type: integer
          format: int32
        venue:
          $ref: '#/components/schemas/VenueRestObject'
        springVenue:
          $ref: '#/components/schemas/VenueRestObject'
        teamCode:
          type: string
        fileCode:
          type: string
        abbreviation:
          type: string
        triCode:
          type: string
        teamName:
          type: string
        locationName:
          type: string
        firstYearOfPlay:
          type: string
        league:
          $ref: '#/components/schemas/LeagueRestObject'
        division:
          $ref: '#/components/schemas/DivisionRestObject'
        sport:
          $ref: '#/components/schemas/SportRestObject'
        conference:
          $ref: '#/components/schemas/ConferenceRestObject'
        franchise:
          $ref: '#/components/schemas/FranchiseRestObject'
        teamStats:
          type: array
          items:
            $ref: '#/components/schemas/StatContainerRestObject'
        roster:
          $ref: '#/components/schemas/RosterRestObject'
        teamLeaders:
          type: array
          items:
            $ref: '#/components/schemas/LeadersRestObject'
        nextGameSchedule:
          $ref: '#/components/schemas/ScheduleRestObject'
        previousGameSchedule:
          $ref: '#/components/schemas/ScheduleRestObject'
        nextSchedule:
          $ref: '#/components/schemas/ScheduleRestObject'
        previousSchedule:
          $ref: '#/components/schemas/ScheduleRestObject'
        content:
          $ref: '#/components/schemas/TeamContentCms'
        deviceProperties:
          $ref: '#/components/schemas/JsonNode'
        social:
          $ref: '#/components/schemas/SocialMediaRestObject'
        shortName:
          type: string
        record:
          $ref: '#/components/schemas/TeamStandingsRecordRestObject'
        playoffInfo:
          $ref: '#/components/schemas/TeamPlayoffs'
        homeAway:
          type: string
        teamDesignation:
          type: string
        parentOrgName:
          type: string
        parentOrgId:
          type: integer
          format: int32
        franchiseName:
          type: string
        clubName:
          type: string
        location:
          $ref: '#/components/schemas/LocationRestObject'
        active:
          type: boolean
        placeholder:
          type: boolean
    GameCms:
      type: object
      properties:
        editorial:
          $ref: '#/components/schemas/Editorial'
        media:
          $ref: '#/components/schemas/Media'
        highlights:
          $ref: '#/components/schemas/Highlights'
        gameNotes:
          $ref: '#/components/schemas/GameNotes'
        contentSummary:
          $ref: '#/components/schemas/ContentSummary'
        lineup:
          $ref: '#/components/schemas/Lineup'
    HitTrajectoryData:
      type: object
      properties:
        trajectoryPolynomialX:
          type: array
          items:
            type: number
            format: double
        trajectoryPolynomialY:
          type: array
          items:
            type: number
            format: double
        trajectoryPolynomialZ:
          type: array
          items:
            type: number
            format: double
        validTimeInterval:
          type: array
          items:
            type: number
            format: double
        measuredTimeInterval:
          type: array
          items:
            type: number
            format: double
        reducedConfidence:
          type: array
          items:
            type: string
        maxHeightPosition:
          $ref: '#/components/schemas/Coordinates'
        hitPositionAt110Feet:
          $ref: '#/components/schemas/Coordinates'
    GameTypeEnum:
      type: string
      enum:
      - SPRING_TRAINING
      - REGULAR_SEASON
      - FIRST_ROUND
      - DIVISION_SERIES
      - LEAGUE_CHAMPIONSHIP_SERIES
      - WORLD_SERIES
      - CHAMPIONSHIP
      - NINETEENTH_CENTURY_SERIES
      - PLAYOFFS
      - ALL_STAR
      - INTRASQUAD
      - EXHIBITION
    Result:
      type: object
      properties:
        copyright:
          type: string
        type:
          type: string
        event:
          type: string
        eventType:
          type: string
        description:
          type: string
        rbi:
          type: integer
          format: int32
        awayScore:
          type: integer
          format: int32
        homeScore:
          type: integer
          format: int32
        isOut:
          type: boolean
          description: Did the play result in an out?
    BattingData:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        note:
          type: string
        summary:
          type: object
          additionalProperties:
            type: string
          writeOnly: true
        catchersInterference:
          type: integer
          format: int32
        average:
          type: string
        onBasePercentage:
          type: string
        onBasePlusSlugging:
          type: string
        stolenBases:
          type: integer
          format: int32
        caughtStealing:
          type: integer
          format: int32
        slugging:
          type: string
        outs:
          type: integer
          format: int32
        gidp:
          type: integer
          format: int32
        gitp:
          type: integer
          format: int32
        homeRuns:
          type: integer
          format: int32
        numberOfPitches:
          type: integer
          format: int32
        totalBases:
          type: integer
          format: int32
        gidpOpportunites:
          type: integer
          format: int32
        walks:
          type: integer
          format: int32
        hitByPitch:
          type: integer
          format: int32
        strikeouts:
          type: integer
          format: int32
        airOuts:
          type: integer
          format: int32
        goAo:
          type: string
        pitchesPerPlateAppearance:
          type: number
          format: double
        intentionalWalks:
          type: integer
          format: int32
        groundOuts:
          type: integer
          format: int32
        flyOuts:
          type: integer
          format: int32
        games:
          type: integer
          format: int32
        gamesStarted:
          type: integer
          format: int32
        doubles:
          type: integer
          format: int32
        hits:
          type: integer
          format: int32
        triples:
          type: integer
          format: int32
        singles:
          type: integer
          format: int32
        runs:
          type: integer
          format: int32
        atBats:
          type: integer
          format: int32
        pickoffs:
          type: integer
          format: int32
        stolenBasePercentage:
          type: string
        wildPitches:
          type: integer
          format: int32
        sacFlies:
          type: integer
          format: int32
        sacBunts:
          type: integer
          format: int32
        putouts:
          type: integer
          format: int32
        assists:
          type: integer
          format: int32
        chances:
          type: integer
          format: int32
        streak:
          type: integer
          format: int32
        battingOrder:
          type: string
        totalSwings:
          type: integer
          format: int32
        swingsAndMisses:
          type: integer
          format: int32
        ballsInPlay:
          type: integer
          format: int32
        popOuts:
          type: integer
          format: int32
        lineOuts:
          type: integer
          format: int32
        flyHits:
          type: integer
          format: int32
        popHits:
          type: integer
          format: int32
        lineHits:
          type: integer
          format: int32
        groundHits:
          type: integer
          format: int32
        babip:
          type: string
        plateAppearances:
          type: integer
          format: int32
        runsBattedIn:
          type: integer
          format: int32
        leftOnBase:
          type: integer
          format: int32
        extraBaseHits:
          type: integer
          format: int32
        atBatsPerHomeRun:
          type: string
        atBatsPerHomeRunOrNull:
          type: string
        stolenBasePercentageOrNull:
          type: string
        pitchesPerPlateAppearanceStr:
          type: string
    LeagueRestObject:
      type: object
      properties:
        copyright:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        link:
          type: string
        abbreviation:
          type: string
        nameShort:
          type: string
        seasonState:
          type: string
        hasWildCard:
          type: boolean
        hasSplitSeason:
          type: boolean
        numGames:
          type: integer
          format: int32
        hasPlayoffPoints:
          type: boolean
        numTeams:
          type: integer
          format: int32
        numWildcardTeams:
          type: integer
          format: int32
        seasonDateInfo:
          $ref: '#/components/schemas/SeasonRestObject'
        season:
          type: string
        orgCode:
          type: string
        conferencesInUse:
          type: boolean
        divisionsInUse:
          type: boolean
        sport:
          $ref: '#/components/schemas/SportRestObject'
        timeZone:
          $ref: '#/components/schemas/TimeZoneRestObject'
        sortOrder:
          type: integer
          format: int32
        active:
          type: boolean
        isAffiliated:
          type: boolean
        ruleSettings:
          type: array
          items:
            $ref: '#/components/schemas/RuleSettingsRestObject'
    LocationRestObject:
      type: object
      properties:
        copyright:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
        address4:
          type: string
        city:
          type: string
        state:
          type: string
        stateAbbrev:
          type: string
        postalCode:
          type: string
        defaultCoordinates:
          $ref: '#/components/schemas/CoordinateRestObject'
        coordinates:
          type: array
          items:
            $ref: '#/components/schemas/CoordinateRestObject'
        country:
          type: string
        phone:
          type: string
    ScheduleEventRestObject:
      type: object
      properties:
        copyright:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
        link:
          type: string
        eventType:
          $ref: '#/components/schemas/ScheduleEventTypeRestObject'
        eventDate:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageRestObject'
        venue:
          $ref: '#/components/schemas/VenueRestObject'
        sports:
          type: array
          items:
            $ref: '#/components/schemas/SportRestObject'
        leagues:
          type: array
          items:
            $ref: '#/components/schemas/LeagueRestObject'
        divisions:
          type: array
          items:
            $ref: '#/components/schemas/DivisionRestObject'
        game:
          $ref: '#/components/schemas/BaseballScheduleItemRestObject'
        content:
          $ref: '#/components/schemas/ScheduleEventCms'
        timeZone:
          $ref: '#/components/schemas/TimeZoneRestObject'
        designations:
          type: array
          items:
            $ref: '#/components/schemas/DesignationRestObject'
        tickets:
          type: array
          items:
            $ref: '#/components/schemas/BaseballTicketRestObject'
        promotions:
          type: array
          items:
            $ref: '#/components/schemas/BaseballTicketRestObject'
        eventStatus:
          $ref: '#/components/schemas/GameStatusRestObject'
        isMultiDay:
          type: boolean
        isPrimaryCalendar:
          type: boolean
        fileCode:
          type: string
        eventNumber:
          type: integer
          format: int32
        publicFacing:
          type: boolean
        teams:
          type: array
          items:
            $ref: '#/components/schemas/BaseballTeamRestObject'
        trackingVersion:
          $ref: '#/components/schemas/TrackingVersion'
        coachingVideo:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/MediaSourceType'
        ruleSettings:
          type: array
          items:
            $ref: '#/components/schemas/RuleSettingsRestObject'
    Division:
      type: object
      properties:
        requestingUserRole:
          $ref: '#/components/schemas/Role'
        id:
          type: integer
          format: int32
        name:
          type: string
          writeOnly: true
        nameShort:
          type: string
        conferenceId:
          type: integer
          format: int32
        conference:
          $ref: '#/components/schemas/Conference'
        league:
          $ref: '#/components/schemas/League'
        sportCode:
          type: string
        sport:
          $ref: '#/components/schemas/Sport'
        abbreviation:
          type: string
        hasWildcard:
          type: boolean
        numPlayoffTeams:
          type: integer
          format: int32
        season:
          type: string
        sortOrder:
          type: integer
          format: int32
        hydratedConferences:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        hydratedLeagues:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
        active:
          type: boolean
    JsonNode:
      type: object
    BaseballPosition:
      type: string
      enum:
      - PITCHER
      - CATCHER
      - FIRST_BASE
      - SECOND_BASE
      - THIRD_BASE
      - SHORTSTOP
      - LEFT_FIELD
      - CENTER_FIELD
      - RIGHT_FIELD
      - DESIGNATED_HITTER
      - PINCH_HITTER
      - PINCH_RUNNER
      - EXTRA_HITTER
      - BASE_RUNNER
      - OUTFIELD
      - INFIELD
      - STARTING_PITCHER
      - RELIEF_PITCHER
      - CLOSER
      - UTLITY
      - UTLITY_INFIELDER
      - UTLITY_OUTFIELDER
      - RIGHT_HANDED_PITCHER
      - LEFT_HANDED_PITCHER
      - RIGHT_HANDED_STARTER
      - LEFT_HANDED_STARTER
      - LEFT_HANDED_RELIEVER
      - RIGHT_HANDED_RELIEVER
      - TWO_WAY_PITCHER_INFIELDER
      - TWO_WAY_PITCHER_OUTFIELDER
      - TWO_WAY_PITCHER_UTILITY
      - TWO_WAY_PLAYER
      - BATTER
      - UNKNOWN
      - RUNNER_ON_FIRST
      - RUNNER_ON_SECOND
      - RUNNER_ON_THIRD
    SeriesStatus:
      type: object
      properties:
        gameNumber:
          type: integer
          format: int32
        totalGames:
          type: integer
          format: int32
        winningTeam:
          $ref: '#/components/schemas/BaseballTeam'
        losingTeam:
          $ref: '#/components/schemas/BaseballTeam'
        isTied:
          type: boolean
        isOver:
          type: boolean
        result:
          type: string
        ties:
          type: integer
          format: int32
        wins:
          type: integer
          format: int32
        losses:
          type: integer
          format: int32
        gameType:
          $ref: '#/components/schemas/GameTypeEnum'
        description:
          type: string
        shortDescription:
          type: string
        seriesHomeNumber:
          type: integer
          format: int32
        seriesAwayNumber:
          type: integer
          format: int32
        seriesId:
          type: string
        seriesName:
          type: string
    OtherTeamNames:
      type: object
      properties:
        slug:
          type: string
    VenueCms:
      type: object
      properties:
        menu:
          type: string
    Language:
      type: string
      enum:
      - ENGLISH
      - ELIAS
      - SPANISH
      - BIS
      - JAPANESE
      - KOREAN
      - CHINESE
      - FRENCH
      - GERMAN
      - ITALIAN
      - DUTCH
      - PORTUGUESE
      - GREEK
      - TAGALOG
      - JAPANESE_2
      - UNACCENT_OVERRIDE
    AwardWinner:
      type: object
      properties:
        awardId:
          type: integer
          format: int32
        teamId:
          type: integer
          format: int32
        coachId:
          type: integer
          format: int32
        playerId:
          type: integer
          format: int32
        rank:
          type: string
        person:
          $ref: '#/components/schemas/BaseballPerson'
        player:
          $ref: '#/components/schemas/BaseballPerson'
        coach:
          $ref: '#/components/schemas/BaseballPerson'
        team:
          $ref: '#/components/schemas/BaseballTeam'
        awardDate:
          type: string
          format: date
        season:
          type: string
        empty:
          type: boolean
        notEmpty:
          type: boolean
    EducationInfo:
      type: object
      properties:
        highschools:
          type: array
          items:
            $ref: '#/components/schemas/School'
        colleges:
          type: array
          items:
            $ref: '#/components/schemas/School'
    LimitMetadataRestObject:
      type: object
      properties:
        copyright:
          type: string
        limit:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        additionalTies:
          type: integer
          format: int32
    FeaturedMedia:
      type: object
      properties:
        id:
          type: string
    Designation:
      type: object
      properties:
        id:
          type: integer
          format: int32
        designation:
          $ref: '#/components/schemas/TeamDesignationEnum'
    XrefId:
      type: object
      properties:
        xrefId:
          type: string
        xrefType:
          type: string
        xrefIdTwo:
          type: string
        season:
          type: string
    BaseballViolation:
      type: object
      properties:
        violationType:
          type: string
        violationSubType:
          type: string
        violationDescription:
          type: string
        violationPlayer:
          $ref: '#/components/schemas/BaseballPerson'
    PlayerDraftInfoRestObject:
      type: object
      properties:
        copyright:
          type: string
        year:
          type: integer
          format: int32
        round:
          type: string
        pickOverall:
          type: integer
          format: int32
        pickInRound:
          type: integer
          format: int32
        team:
          $ref: '#/components/schemas/BaseballTeamRestObject'
    Official:
      type: object
      properties:
        person:
          $ref: '#/components/schemas/BaseballPerson'
        jerseyNumber:
          type: string
        officialType:
          $ref: '#/components/schemas/IOfficialType'
        gameDate:
          type: string
          format: date
[...]
